<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCe1eofhHpd4UfKz-7B4CDnQT_Ob9J_h_s</string>
	<key>GCM_SENDER_ID</key>
	<string>975864479146</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.witnessDeposition</string>
	<key>PROJECT_ID</key>
	<string>bhasabandhuapp-48af3</string>
	<key>STORAGE_BUCKET</key>
	<string>bhasabandhuapp-48af3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:975864479146:ios:0d4da31151b6bf6775bfd3</string>
</dict>
</plist>